# .cursorrules

This file provides guidance to Cursor when working with code in this repository.

## Project Overview

**Always** read @AGENTS.md for base rules.

**Always** read @README.md for a project overview.

**Always** read @DESIGN.md for project design overview.


